# ANANALYSIS BIG DATA ON WEATHER FORCAST

THE WEATHER IS A TIME SERIES DATA SET PER INFORMATION ABOUT WEATHER CONDITION AT A SPECIFIC REGION.THIS DATA SET RECORDS TEMPARATURE, DEW POINTS AND RELATIVE HUMIDITY, WIND SPEED, VISIBILITY, ACCOUNT AND CONDITIONS.

FOLOWING DATA SET WILL BE ANALYZED USING PANDAS DATA FRAME

In [5]:
  import pandas as pd

In [6]:
data = pd.read_csv(r"C:\Users\farhe\OneDrive\Documents\Bigdata\1. Weather Data.csv")

In [7]:
data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

#    ANALYZING THE DATA USING .head() command
 showing the first N rows in the data

In [8]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [9]:
#.shape
shows the total number pf rows and columns

SyntaxError: invalid syntax (<ipython-input-9-d899661a4a40>, line 2)

In [ ]:
data.shape

In [ ]:
#.index of dataframe

In [ ]:
data.index

In [ ]:
data.columns #displaying dataframe columns

In [ ]:
#displaying datatypes
data.dtypes

In [ ]:
# displaying unique values
data['Weather'].unique()

In [ ]:
#.nunique displaying sum of unique values in each columns

In [ ]:
data.nunique()

In [ ]:
#displaying sum of non nul values
data.count()

In [ ]:
#.value_counts()displaying unique values with their count
data['Weather'].value_counts()

In [ ]:
 #display basic information .info()
data.info()

# DISPLAYING UNIQUE 'WIND SPEED' VALUE

In [10]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [11]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [12]:
data['Wind Speed_km/h'].nunique()

34

In [13]:
data['Wind Speed_km/h'].unique() #analysis

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)